.App {
  overflow: hidden;
}

.proj {
  margin: 4px;
}
.row {
  overflow: hidden;
  background-color: rgb(159, 179, 194);
  display: flex;
}
.left {
  overflow: hidden;
  background-color: rgb(159, 179, 194);
  width: 20%;
  margin: 1px;
}
.middle {
  overflow: hidden;
  background-color: rgb(159, 179, 194);
  width: 60%;
  margin: 1px;
}
.right {
  overflow: hidden;
  background-color: rgb(159, 179, 194);
  width: 20%;
}

.allproj {
  overflow: hidden;
  border: 1px solid black;
  background-color: aqua;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.aproj {
  overflow: hidden;
  border: 1px solid black;
  border-radius: 15px 50px;
  width: 200px;
  padding: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.projector {
  border: 1px solid black;
  background-color: aliceblue;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.lecture {
  border: 1px solid black;
  background-color: coral;
  border-radius: 15px 50px;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.course {
  border-radius: 15px 50px;
  background-color: rgb(27, 59, 111);
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.slider {
  -webkit-appearance: none;
  height: 12px;
  width: 400px;
  border-radius: 6px;
}

.slider::-webkit-slider-thumb {
  width: 100px;
  height: 10px;
  background-color: rgb(27, 59, 111);
  cursor: pointer;
}

.plan {
  background-color: rgb(159, 179, 194);
  justify-self: center;
}

.links {
  font-family: "Libre Baskerville", serif;
  font-family: "PT Serif", serif;
  text-decoration: none;
  margin-inline: 20px;
  border-radius: 10px;
  align-self: center;
  text-align: center;
  margin: 10px;
  width: 10%;
}

.links:hover {
  background-color: rgb(27, 59, 111);
  color: azure;
  border: 1px solid azure;
}

.klickbox {
  text-align: right;
}
.klick {
  margin: 5px;
}
