.App {
  overflow: hidden;
}
.temp {
  margin: 4px;
}
.fukt {
  margin: 4px;
}
.luft {
  margin: 4px;
}
.proj {
  margin: 4px;
}
.row {
  overflow: hidden;
  background-color: rgb(159, 179, 194);
  display: flex;
}
.left {
  overflow: hidden;
  background-color: rgb(159, 179, 194);
  width: 20%;
  margin: 1px;
}
.middle {
  overflow: hidden;
  border: 1px solid black;
  background-color: rgb(159, 179, 194);
  width: 60%;
  margin: 1px;
}
.right {
  overflow: hidden;
  border: 1px solid black;
  background-color: rgb(159, 179, 194);
  width: 20%;
}

.allproj {
  overflow: hidden;
  border: 1px solid black;
  background-color: aqua;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.aproj {
  overflow: hidden;
  border: 1px solid black;
  border-radius: 15px 50px;
  width: 200px;
  padding: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.projector {
  border: 1px solid black;
  background-color: aliceblue;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.lecture {
  border: 1px solid black;
  background-color: coral;
  border-radius: 15px 50px;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.nav {
  background-image: linear-gradient(
    transparent 0%,
    transparent 90%,
    rgb(167, 17, 69) 90%,
    rgb(167, 17, 69) 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;

  transition: 300ms;

  font-family: "Libre Baskerville", serif;
  font-family: "PT Serif", serif;
  margin-inline: 20px;
}

.nav:hover {
  background-size: 100% 100%;
  background-position-x: left;
}

.skelet {
  border: 1px solid black;
  border-radius: 70px 0px 0px 30px;
  height: 200px;
  background-color: #86003c;
  margin: 5px;
  justify-content: center;
  width: 150px;
}

.qchart {
  width: 853;
}
.AQI {
  border-radius: 70px 30px 70px 30px;
  display: flex;
  background-color: #86003c;
}

.course {
  border-radius: 15px 50px;
  background-color: rgb(27, 59, 111);
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.cn {
  background-color: rgb(27, 59, 111);
  font-family: "Libre Baskerville", serif;
  font-family: "PT Serif", serif;
  text-align: center;
  margin: 4px;
  padding: 4px;
  color: azure;
}

.itp {
  display: flex;
}
.ci {
  border: 2px solid black;
  background-color: rgb(27, 59, 111);
  font-family: "Libre Baskerville", serif;
  font-family: "PT Serif", serif;
  font-size: medium;
  margin: 2px;
  padding: 2px;
  color: rgb(180, 248, 248);
}
