.row {
  border: 1px solid black;
  background-color: aqua;
  padding: 20px;
  display: flex;
}
.left {
  border: 1px solid black;
  background-color: bisque;
  padding: 10px;
  width: 20%;
  margin-top: 4px;
  margin-bottom: 4px;
}
.middle {
  border: 1px solid black;
  background-color: blue;
  padding: 10px;
  width: 60%;
  margin-top: 4px;
  margin-bottom: 4px;
}
.right {
  border: 1px solid black;
  background-color: darkcyan;
  padding: 10px;
  width: 20%;
  margin-top: 4px;
  margin-bottom: 4px;
}
.teacher {
  border: 1px solid black;
  border-radius: 15px 50px;
  background-color: darkviolet;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.course {
  border: 1px solid black;
  border-radius: 15px 50px;
  background-color: chartreuse;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.allproj {
  border: 1px solid black;
  background-color: aqua;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.aproj {
  border: 1px solid black;
  border-radius: 15px 50px;
  width: 200px;
  padding: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.projector {
  border: 1px solid black;
  background-color: aliceblue;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.lecture {
  border: 1px solid black;
  background-color: coral;
  border-radius: 15px 50px;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.fukt {
  border: 1px solid black;
  border-radius: 15px 50px;
  background-color: aquamarine;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.temp {
  border: 1px solid black;
  border-radius: 15px 50px;
  background-color: brown;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.luft {
  border: 1px solid black;
  border-radius: 15px 50px;
  background-color: beige;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.nav {
  background-image: linear-gradient(
    transparent 0%,
    transparent 90%,
    rgb(167, 17, 69) 90%,
    rgb(167, 17, 69) 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;

  transition: 300ms;

  font-family: "Libre Baskerville", serif;
  font-family: "PT Serif", serif;
  margin-inline: 20px;
}

.nav:hover {
  background-size: 100% 100%;
  background-position-x: left;
}
